/* ==== FONTS ==== */

@font-face {
  font-family: "Cuprum";
  src:  url("../fonts/cuprum.woff2") format("woff2"),
        url("../fonts/cuprum.woff")  format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src:  url("../fonts/cuprumbold.woff2") format("woff2"),
        url("../fonts/cuprumbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src:  url("../fonts/cuprumitalic.woff2") format("woff2"),
        url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Cuprum';
  src:  url("../fonts/cuprumbolditalic.woff2") format("woff2"),
        url("../fonts/cuprumbolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'PT Sans';
  src:  url("../fonts/ptsans.woff2") format("woff2"),
        url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src:  url("../fonts/ptsansbold.woff2") format("woff2"),
        url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* ==== END of FONTS ==== */

/* ==== COLORS ==== */

:root {
    --basic-red: #EE3643;
    --basic-light-grey: #F1F5F7;
    --basic-grey: #F9F5F0;
    --basic-dark-blue: #293449;
    --basic-blue: #32425C;
    --basic-green: #63A63E;
    --basic-success-green: #5FBB2D;
    --basic-focus-green: #518534;
    --basic-white: #ffffff;
    --basic-black: #000000;
    --special-black: #161D29;
    --special-yellow: #FFBF47;
    --special-sky-blue: #3BBCE3;
    --special-lilaс: #DC91D8;
    --special-light-green: #8ED78F;
    --special-grey: #A9A9A9;
    --basic-yellow: #FFD180;
    --special-light-grey: #F4F4F4;
    --special-dark-grey: #A9A9A9;
    --special-light-dark-grey: #C5C5C5;
    --special-white-bg: rgba(0, 0, 0, 0.0001);
    --special-dark-blue-focus: #1D2739;
    --promo-white-opacity30: rgba(255, 255, 255, 0.3);
    --promo-grey-opacity30-hover: rgb(197, 197, 197, 0.3);
    --promo-grey-opacity30-focus: rgb(169, 169, 169, 0.3);
    --slider-button-red-hover: #CA2C37;
    --slider-button-red-focus: #BA2732;
    --border-grey: #EAEAEA;
    --basic-black-opacity15: rgba(0, 0, 0, 0.15);
    --near-white: #F3F7F9;
    --shadow-popup: rgba(41, 52, 73, 0.75);
    --popup-bg: #F1F1F1;
    --filters-bg: #F7F3EC;
    --border-button: #E5E5E5;
}


/* ==== END of COLORS ==== */

/* ==== GLOBAL ==== */

.page {
  height: 100%;
}

.page-body {
  margin: 0px;
  padding: 0px;
  min-width: 960px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}

.link {
  margin: 0px;
  padding: 0px;
  color: inherit;
  text-decoration: none;
  }

.image {
  max-width: 100%;
  height: auto;
}

.list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.center {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
}


/* ==== END of GLOBAL ==== */

/* ==== HEADER ==== */

.main-header {
  color: var(--basic-white);
  background-color: var(--basic-light-grey);
}

.main-header-top {
  width: 100%;
  background-color: var(--basic-dark-blue);
}

.main-header-center {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  align-content: start;
  padding: 0px;
  padding-top: 46px;
  padding-bottom: 40px;
  box-sizing: border-box;
}

.main-navigation {
  padding: 0px;
  box-sizing: border-box;
  background-color: var(--basic-blue);
}

/* ==== HEADER => MAIN-HEADER-TOP ==== */

.main-header_logo {
  display: block;
  width: 222px;
  height: 47px;
  background-image: url("../img/logo-header-error.svg");
  background-repeat: no-repeat;
}

.main-header_logo:focus .img-logo {
  display: none;
}

.icon-search,
.icon-bookmark,
.icon-cart {
  opacity: 30%;
}

.search-form {
  color: var(--basic-white);
}

.search-form_input {
  font-size: 18px;
  background-color: inherit;
  border: none;
  outline: none;
  }

.search-form_input::placeholder {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.search-form:hover .icon-search {
  opacity: 100%;
}

.search-form:focus .icon-search {
  opacity: 0%;
}

.search-form_button {
  width: 17px;
  height: 17px;
  background-image: url('../img/icons/icon-search.svg');
  background-repeat: no-repeat;
  opacity: 30%;
  background-color: inherit;
  border: none;
  outline: none;
}

.search-form:hover .search-form_button {
  opacity: 100%;
}

.search-form_input::-webkit-search-decoration,
.search-form_input::-webkit-search-cancel-button,
.search-form_input::-webkit-search-results-button,
.search-form_input::-webkit-search-results-decoration {
   display: none;
}

.search-form_input:focus {
color: var(--basic-black);
background-color: var(--basic-white);
}

.search-form_input:focus + .search-form_button {
  background-image: url('../img/icons/icon-search-red.svg');
  opacity: 100%;
}

.favorite-link:hover .icon-bookmark,
.basket-link:hover .icon-cart {
  opacity: 100%;
}

.favorite-link:focus,
.basket-link:focus {
  background-color: var(--special-black);
}

.favorite-link:focus .icon-bookmark,
.basket-link:focus .icon-cart {
  opacity: 30%;
}

.favorite-link:focus .for-focus,
.basket-link:focus .for-focus,
.order-link:focus .for-focus {
  opacity: 50%;
}

.order-link:hover {
  background-color: var(--basic-success-green);
}

.order-link:focus {
background-color: var(--basic-green);
}

.order-link {
  background-color: var(--basic-green);
}

/* ==== HEADER => MAIN-HEADER-CENTER ==== */

.main-title {
  margin: 0px;
  padding: 0px;
  padding-left: 30px;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}

.location-box, .location-box_phone, .location-box_address {
  margin: 0px;
  padding: 0px;
}

.location-box_phone {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
}

.location-box_address {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-blue);
}

.login-link, .registration-link {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.registration-link:hover,
.login-link:hover {
  color: var(--basic-red);
}

.registration-link:focus,
.login-link:focus {
  color: var(--special-light-dark-grey);
}

.login-link {
  padding-left: 45px;
  background-image: url("../img/icons/icon-login.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px;
}

.login-link:hover {
  background-image: url("../img/icons/icon-login-hover.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px;
}

.login-link:focus {
  background-image: url("../img/icons/icon-login.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px;
}

/* ==== HEADER => MAIN-HEADER-BOTTOM ==== */

.site-navigation {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.site-navigation_item_link:hover {
  background-color: var(--basic-dark-blue);
}

.site-navigation_item_link:focus {
  background-color: var(--special-dark-blue-focus);
}

.site-navigation_item_link:focus .for-focus {
  color: var(--basic-white);
  opacity: 50%;
}

/* ==== END of HEADER ==== */

/* ==== MAIN ==== */

.container-main-bg-light {
  width: 100%;
  background-color: var(--basic-white);
}

.container-main-bg-grey {
  width: 100%;
  background-color: var(--basic-light-grey);
}

/* ==== MAIN => PROMO ==== */

.promo_title {
  display: none;
}

.promo-box-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-gap: 20px;
  align-content: start;
  padding-top: 59px;
  padding-bottom: 59px;
  box-sizing: border-box;
}

.promo-slider {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

.promo-box {
  width: 300px;
  min-height: 123px;
  color: var(--basic-white);
}

.promo-box_title {
  margin:0px;
  padding:0px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.promo-box_link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--promo-white-opacity30);
}

.promo-box--materials {
  background-color: var(--special-yellow);
  background-image: url("../img/icons/catalog_new.svg"),
                    url("../img/icons/icons-Promo/icon-1-paint.svg");
  background-repeat: no-repeat;
  background-position: right top, right center;
}

.promo-box--tools {
  background-color: var(--special-sky-blue);
  background-image: url("../img/icons/icons-Promo/icon-2-drill.svg");
  background-repeat: no-repeat;
  background-position: right center;
}

.promo-box--machinery {
  background-color: var(--special-lilaс);
  background-image: url("../img/icons/icons-Promo/icon-3-tractor.svg");
  background-repeat: no-repeat;
  background-position: right center;
}

.promo-box--discount {
  background-color: var(--special-light-green);
  background-image: url("../img/icons/icons-Promo/icon-4-basket.svg");
  background-repeat: no-repeat;
  background-position: right center;
}

.promo-box--delivery {
  background-color: var(--special-yellow);
  background-image: url("../img/icons/icons-Promo/icon-5-truck.svg");
  background-repeat: no-repeat;
  background-position: right center;
}

.promo-box_link:hover {
  background-color: var(--promo-grey-opacity30-hover);
}

.promo-box_link:focus {
  background-color: var(--promo-grey-opacity30-focus);
}

.promo-slider {
  position: relative;
  color: var(--basic-white);
}

.promo-slider_item {
  position: relative;
  padding: 0px;
  margin: 0px;
  width: 620px;
  font-size: 0px;
  line-height: 0px;
  color: var(--basic-white);
}

.promo-slider-item-drill {
  display: none;
}

.promo-slider_text {
  position: absolute;
  display: block;
  padding: 0px;
  margin: 0px;
  width: 240px;
}

.promo-slider_title {
  margin: 0px;
  padding: 0px;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.promo-slider_description {
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.promo-slider_button-back {
  position: absolute;
  display: block;
  z-index: 2;
  width: 22px;
  height: 40px;
  left: 24px;
  bottom: 103px;
  background-color: transparent;
  background-image: url("../img/icons/icon-left.svg");
  background-repeat: no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
}

.promo-slider_button-next {
  position: absolute;
  display: block;
  z-index: 2;
  right: 20px;
  bottom: 103px;
  width: 22px;
  height: 40px;
  background-color: transparent;
  background-image: url("../img/icons/icon-right.svg");
  background-repeat: no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
}

.promo-slider_link-catalog {
  position: absolute;
  display: block;
  z-index: 2;
  left: 24px;
  bottom: 27px;
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-red);
}

.promo-slider_link-catalog:hover {
  background-color: var(--slider-button-red-hover);
}

.promo-slider_link-catalog:focus {
  background-color: var(--slider-button-red-focus);
}

/* ==== MAIN => BEST-ARTICLES ==== */

.best-articles_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  align-content: start;
  padding-top: 20px;
  padding-bottom: 70px;
  padding-right: 0px;
  padding-left: 0px;
  width: 940px;
  box-sizing: border-box;
}

.section-header {
  background-color: var(--basic-grey);
}

.best-articles_title,
.best-partners_title {
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-blue);
}

.best-articles_link,
.all-partners_link {
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.best-articles_link:hover,
.all-partners_link:hover {
  background-color: var(--slider-button-red-hover);
}

.best-articles_link:focus,
.all-partners_link:focus {
  background-color: var(--slider-button-red-focus);
}

.article-figure_image,
.label-new {
  margin: 0px;
  display: block;
}



.article-figure_name {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
}

.old-price {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--special-dark-grey);
  text-transform: uppercase;
  text-decoration: line-through;
}

.new-price {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
}

.articles_item {
  border: 1px solid var(--border-grey);
  width: 220px;
  box-sizing: border-box;
}

.article_button-buy,
.article_button-favorite {
  visibility: hidden;
  width: 135px;
  height: 38px;
  border: none;
  outline: none;
  cursor: pointer;
}

.article_button-buy {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-green);
  background-image: url("../img/icons/icon-cart-15-15.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.article_button-favorite {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-blue);
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: 3px solid var(--basic-green);
}

.articles_item:hover .article-figure_image {
  visibility: hidden;
}

.articles_item:hover .article_button-buy,
.articles_item:hover .article_button-favorite {
  visibility: visible;
}

.article_button-buy:hover {
  background-color: var(--basic-success-green);
}

.article_button-buy:focus {
  background-color: var(--basic-focus-green);
}

.article_button-favorite:hover {
  border: 3px solid var(--basic-blue);
}

.article_button-favorite:focus {
  opacity: 50%;
}

/* ==== MAIN => BEST-PARTNERS ==== */

.best-partners_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-content: start;
  padding-top: 20px;
  padding-bottom: 70px;
  box-sizing: border-box;
}

.partners_item_link {
  font-size: 0px;
  line-height: 0px;
  display: block;
}

.partners_item_link:hover .partners_item_logo {
  box-shadow: 0px 4px 20px var(--basic-black-opacity15);
}

.partners_item_link:focus .partners_item_logo {
  opacity: 50%;
}

/* ==== MAIN => SERVICES ==== */

.services {
  background-color: var(--basic-light-grey);
}

.services_title {
  margin: 0px;
  padding: 0px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.services_text {
  margin: 0px;
  padding: 0px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.services_item_link {
  margin: 0px;
  padding: 0px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
}

.services_box_title {
  margin: 0px;
  padding: 0px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-blue);
  text-transform: uppercase;
}

.services_box_text {
  margin: 0px;
  padding: 0px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.services_box--guarantee-button {
  margin: 0px;
  padding: 0px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
}

.services_box--guarantee-button:hover {
  background-color: var(--slider-button-red-hover);
}

.services_box--guarantee-button:focus {
  background-color: var(--slider-button-red-focus);
}

.services_item_link--delivery {
  color:var(--basic-blue);
  background-color: var(--basic-white);
}

.services_item_link--guarantee,
.services_item_link--credit {
    color:var(--basic-white);
    background-color: var(--basic-blue);
}

.services_list_item {
  margin: 0px;
  padding: 0px;
}

.services_box--delivery {
  width: 619px;
  height: 283px;
  background-image: url("../img/services-slider-tabs/delivery.png");
  background-repeat: no-repeat;
  background-position: right center;
}

.services_box--guarantee {
  width: 619px;
  height: 283px;
  background-image: url("../img/services-slider-tabs/guarantee.png");
  background-repeat: no-repeat;
  background-position: right center;
}

.services_box--credit {
  width: 619px;
  height: 283px;
  background-image: url("../img/services-slider-tabs/credit.png");
  background-repeat: no-repeat;
  background-position: right center;
}

/* ==== MAIN => ABOUT and CONTACTS ==== */

.container-main-third {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 20px;
  align-content: start;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-right: 0px;
  padding-left: 0px;
  box-sizing: border-box;
}

.about_title,
.contacts_title {
  margin: 0px;
  padding: 0px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.about_text,
.contacts_text {
  margin: 0px;
  padding: 0px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.shipping-company-list_item {
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}

.shipping-company-list_item::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}

.about_link,
.contact-form-link {
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
}

.about_link:hover,
.contact-form-link:hover {
  background-color: var(--slider-button-red-hover);
}

.about_link:focus ,
.contact-form-link:focus {
  background-color: var(--slider-button-red-focus);
}

/* ==== END of MAIN ==== */

/*==== FOOTER ====*/

.container-main-footer-bg-blue {
  width: 100%;
  background-color: var(--basic-blue);
}

.container-main-footer-bg-dark {
  width: 100%;
  background-color: var(--basic-dark-blue);
}

/*==== FOOTER => FIRST-CONTAINER ====*/

.main-footer_first-container {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-blue);
}

.footer_contacts {
  color: var(--near-white);
}

.footer-navigation_list {
  color: var(--basic-light-grey);
}

.footer-promo-list {
  color: var(--basic-yellow);
}

/*==== FOOTER => SECOND-CONTAINER ====*/

.main-footer_second-container {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-dark-blue);
  }

.footer-copyright {
  margin: 0px;
  padding: 0px;
}

.footer-feedback_link,
.developed-by_link {
  color: var(--basic-yellow);
}

.footer-navigation_link:hover,
.footer-promo-list_link:hover {
  text-decoration: underline;
}

.footer-navigation_link:focus,
.footer-promo-list_link:focus {
  opacity: 50%;
  text-decoration: none;
}

.footer-feedback_link:hover,
.developed-by_link:hover {
  text-decoration: underline;
}

.footer-feedback_link:focus,
.developed-by_link:focus {
  color: var(--basic-red);
  text-decoration: none;
}

.footer-address,
.footer-feedback,
.developed-by {
  margin: 0px;
  padding: 0px;
}

.logo-vk {
  display:inline-block;
  width: 44px;
  height: 44px;
  background-image: url("../img/icons/socials/vkontakte.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.logo-vk:hover,
.logo-vk:focus {
  width: 44px;
  height: 44px;
  background-image: url("../img/icons/socials/icon-vk-red.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.logo-fb {
  display:inline-block;
  width: 44px;
  height: 44px;
  background-image: url("../img/icons/socials/facebook.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.logo-fb:hover,
.logo-fb:focus {
  width: 44px;
  height: 44px;
  background-image: url("../img/icons/socials/icon-fb-red.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.logo-insta {
  display:inline-block;
  width: 44px;
  height: 44px;
  background-image: url("../img/icons/socials/instagram.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.logo-insta:hover,
.logo-insta:focus {
  width: 44px;
  height: 44px;
  background-image: url("../img/icons/socials/icon-insta-red.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

/*==== END of FOOTER ====*/

/*==== MODALS in INDEX ====*/

.button-close {
  display: inline-block;
  width: 20.97px;
  height: 20.97px;
  background-color: inherit;
  background-image: url("../img/icons/icon-close.svg");
  background-repeat: no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
}

.contact-form {
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.contact-form_input {
  font-size: 13px;
  color: var(--basic-black);
  background-color: inherit;
  border: 2px solid var(--special-light-dark-grey);
  outline: none;
}

.contact-form_input::placeholder {
  font-size: 13px;
  color: var(--special-dark-grey);
  outline: none;
  border: none;
  }

.contact-form_input_textarea {
  resize: none;
}

.button-submit {
  margin: 0px;
  padding: 0px;
  width: 460px;
  height: 38px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  outline: none;
  cursor: pointer;
}

.button-submit:hover {
  background-color: var(--slider-button-red-hover);
}

.button-submit:focus {
  background-color: var(--slider-button-red-focus);
}

/*==== END of MODALS in INDEX ====*/


/*==== CATALOG ====*/

/*==== CATALOG => HEADER ====*/

.basket-link_for-counter {
  background-color: var(--basic-red);
}

.basket-link_for-counter:focus {
  background-color: var(--slider-button-red-focus);
}

.user-link {
  margin: 0px;
  padding-left: 56px;
  padding-right: 57px;
  width: 299px;
  height: 45px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-image: url("../img/icons/icon-user.svg"),
                    url("../img/icons/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: left center,
                       right center;
  background-color: var(--basic-white);
  background-size: 20px,
                    20px;
}

.user-link:hover {
  background-image: url("../img/icons/icon-user-blue.svg"),
                    url("../img/icons/icon-logout-blue.svg");
  background-repeat: no-repeat;
  background-position: left center,
                       right center;
  background-size: 20px,
                    20px;
}

.user-link:focus {
  width: 20px;
  height: 17px;
  background-image: url("../img/icons/icon-user.svg"),
                    url("../img/icons/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: left center,
                       right center;
  background-size: 20px,
                    20px;
}

.orders-link,
.account-link {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-blue);
}

.orders-link:hover,
.account-link:hover {
  color: var(--basic-red);
}

.user-link:focus,
.orders-link:focus,
.account-link:focus {
  color: var(--special-light-dark-grey);
}

/*==== CATALOG => BREADCRUMBS ====*/

.breadcrumbs_item {
  font-family: "PS Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.breadcrumbs_item:not(:first-child)::before {
  content: url("../img/icons/icon-next-breadcrumbs.svg");
}

/*==== CATALOG => PERFORATORS ====*/

.perforators_title {
  margin: 0px;
  padding: 0px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-blue);
  text-transform: uppercase;
  background-color: var(--basic-light-grey);
}

.filters_form {
  font-family: "PS Sans", "Arial", sans-serif;
  background-color: var(--basic-white);
}

.filters_title {
  font-family: "PS Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--filters-bg);
}

.fieldset {
  border: none;
  outline: none;
}

.fieldset_name {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.fieldset-price-text {
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
}

.fieldset-price_between {
  font-size: 16px;
}


.fieldset-manufacturers_button_name,
.fieldset-power-supply-button-name {
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filters_button {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: 1px solid var(--border-button);
  outline: none;
  cursor: pointer;
}

.fieldset-price,
.fieldset-manufacturers {
  border-bottom: 1px solid var(--border-button);
}

.fieldset-manufacturers_button[disabled] + .fieldset-manufacturers_button_name,
.fieldset-power-supply-button[disabled] + .fieldset-power-supply-button-name {
  opacity: 40%;
}

.sorting {
  font-family: "PS Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--filters-bg);
}

.sorting_title {
  font-weight: 400;
  color: var(--basic-black);
}

.sorting_options_item_price {
  color: var(--basic-red);
}

.sorting_options_item_type,
.sorting_options_item_function {
  opacity: 30%;
  border-bottom: dotted 1px var(--basic-red);
}

.sorting_order_upward {
  width: 11px;
  height: 10px;
  background-image: url("../img/icons/icon-dir-up.svg");
  background-repeat: no-repeat;
  display: inline-block;
}

.sorting_order_downward {
  width: 11px;
  height: 10px;
  background-image: url("../img/icons/icon-dir-down.svg");
  background-repeat: no-repeat;
  display: inline-block;
}

.battery-power-supply-perforators_title {
  display: none;
}

.pagination-link {
  font-family: "PS Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
  border: 1px solid var(--border-button);
}

.pagination-link:hover {
  border: 1px solid var(--special-light-dark-grey);
}

.pagination-link:focus {
  border: 1px solid var(--basic-red);
}

.pagination-link-current,
.pagination-link-current:hover,
.pagination-link-current:focus {
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: none;
}

/*==== CATALOG => BRIEFLY ====*/

.briefly {
  color: var(--basic-black);
  background-color: var(--basic-light-grey);
}

.briefly_title {
  margin: 0px;
  padding: 0px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
}

.briefly_text {
  margin: 0px;
  padding: 0px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}


/*==== END of CATALOG ====*/

/*==== MODALS in CATALOG ====*/

.popup-in-the-basket {
  margin: 50px;
  width: 620px;
  height: 282px;
  box-shadow: 0px 20px 40px 0px var(--shadow-popup);
}

.popup-in-the-basket_text {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.popup-in-the-basket_text::before {
  content: url("../img/icons/icon-mark.svg");
  display: inline-block;
  width: 66px;
  height: 66px;
}

.popup-in-the-basket_buttons {
  margin: 0px;
  height: 112px;
  background-color: var(--popup-bg);
}

.popup-order-link {
  margin: 0px;
  padding: 0px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.popup-order-link:hover {
  background-color: var(--slider-button-red-hover);
}

.popup-order-link:focus {
  background-color: var(--slider-button-red-focus);
}

.popup-continue-shopping-button {
  margin: 0px;
  padding: 0px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: none;
  outline: none;
  cursor: pointer;
}

/*==== END of MODALS in CATALOG ====*/
